.container{
  width: 500px;
  margin: 40px auto;
  font-family: Arial;
}
textarea{
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
input{
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}
button{
  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  border: none;
}